<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohan.chatchatmessenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/messenger_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".AppPreferences"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ChatChatNew"
            android:label="@string/title_activity_chat_chat_new" >

        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>
